@model Dominio.Entidades.MateriaPrima

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Materia Prima: @Model.Descricao</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Código: </label>
                <label>@Model.Id</label>
            </div>
            <div class="form-group">
                <label class="">Descrição: </label>
                <label>@Model.Descricao</label>
            </div>
            <div class="form-group">
                <label>Preço de Custo: </label>
                <label>@Model.PrecoCusto</label>
            </div>
            <div class="form-group">
                <label>Saldo em Estoque:  </label>
                <label>@Model.SaldoEstoque</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>



